# fly.toml app configuration file generated for msc-seo-analyzer-frontend on 2025-11-28T10:05:09+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'msc-seo-analyzer-frontend'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'

  [build.args]
    VITE_API_BASE_URL = 'https://msc-seo-analyzer.fly.dev'

[env]
  NODE_ENV = 'production'

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
